
.total-clients {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: -38px;
    flex-wrap: wrap; 
}



.client-box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    font-size: 15px;
    margin: 5px;
    font-size: 10px;
    height: 20%;
    flex: 1 1 22%; 
    min-width: 200px; 
    height: 100px;
}

.client-box h2 {
    font-size: 20px;
    font-weight: bold;
}

.client-box p {
    font-size: 15px;
    font-weight: bold;
}
