
.logo {
    display: flex;
    align-items: center;
    width: 90px;
    height: 50px;
}

.logo img {
    max-width: 258px; 
    height: auto; 
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile img {
    width: 40px;
    margin-right: 5px;
}

.content-container{
    margin-top: 30px;
}

